.App {
  color: white;
  max-width: 1280px;
  min-height: 980px;
  background-color: #313233;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Search-Container {
  display: flex;
  justify-content: 'space-between';
  align-items: center;
}

.Search-Filter {
  display: flex;
  align-items: left;
  background-color: #222323;
  margin-left: 500;
}
.killer .Select-control:before {
  color: #aaa;
  content: 'Flavors';
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
}

.column-select{
  color: white;
}

.selectRowProp {
  color: white;
  line-height: 1;
  font-size: 1;
}
.my-custom-class {
  line-height: 1;
}

.grid-icon {
  color: white;
  display: flex;
  justify-content: right;
  align-items: right;
}